<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="utf-8">
  <title>Redirecting&hellip;</title>
  <link rel="canonical" href="{{ url(page.destination) }}" />
  <meta name="robots" content="noindex" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="refresh" content="0;url={{ url(page.destination) }}" />
</head>
<body>
  <h1>Redirecting&hellip;</h1>
  <a href="{{ url(page.destination) }}">Click here if you are not redirected.</a>
</body>
</html>
