# Files to exclude when creating archive
tests/ export-ignore
.* export-ignore
circle.yml export-ignore
deploy.sh export-ignore
phpunit.xml.dist export-ignore

# Auto detect text files and perform LF normalization
* text=auto
