# Files to exclude when creating archive
tests/ export-ignore
.* export-ignore
circle.yml
deploy.sh export-ignore
phpunit.xml.dist export-ignore

# Auto detect text files and perform LF normalization
* text=auto
