{% extends '_default/page.html.twig' %}

{% block content %}
{{ page.content }}
{% if page.categories is defined %}
{% for category in page.categories %}
<a href="{{ url('categories/' ~ category) }}">#{{ category }}</a>&nbsp;
{% endfor %}
{% endif %}
<p>layout: {{ _self.getTemplateName() }}</p>
{% endblock %}
