<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="shortcut icon" href="{{ url() }}favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{ url() }}favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ url() }}css/reset.css">
    <link rel="stylesheet" href="{{ url() }}css/style.css">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="main-header">
        <nav class="navbar">
            <div class="navbar-links">
                <a href="http://github.com/Narno/PHPoole-library/" class="navbar-link">Source</a>
                <a href="http://github.com/Narno/PHPoole-library/blob/master/README.md#installation" class="navbar-link">Installation</a>
                <a href="http://github.com/Narno/PHPoole-library/blob/master/README.md#usage" class="navbar-link">Usage</a>
            </div>
        </nav>
        <div class="main-header-content">
            <!--<img class="logo" src="{{ url() }}logo.png"/>-->
            <img class="logo" src="https://avatars2.githubusercontent.com/u/5618939?s=150">
            <p class="main-header-text">An intuitive PHP library to create a static Website</p>
            <a class="main-header-btn" href="http://github.com/Narno/PHPoole-library/">Try it now</a>
        </div>
    </div>
    <div class="main-info">
        <div class="main-info-content">
            <div class="benefits">
                <div class="benefit">
                    <h1 class="benefit-title">No database</h1>
                    <p class="benefit-text">Files only: Host your site anywhere.</p>
                </div>
                <div class="benefit">
                    <h1 class="benefit-title">Fully configurable</h1>
                    <p class="benefit-text">Through <a href="https://github.com/Narno/PHPoole-library/blob/master/README.md#options">options</a> (and <em>[WIP]</em> plugins system).</p>
                </div>
                <div class="benefit">
                    <h1 class="benefit-title">Templates</h1>
                    <p class="benefit-text">Flexible template engine (<a href="http://twig.sensiolabs.org/doc/templates.html">Twig</a>).</p>
                </div>
                <div class="benefit">
                    <h1 class="benefit-title">Theme</h1>
                    <p class="benefit-text">Theme support (ie: <a href="https://github.com/PHPoole/PHPoole-theme-hyde">Hyde</a>).</p>
                </div>
                <div class="benefit">
                    <h1 class="benefit-title">Menu</h1>
                    <p class="benefit-text">Dynamic menu creation.</p>
                </div>
                <div class="benefit">
                    <h1 class="benefit-title">Taxonomy</h1>
                    <p class="benefit-text">Configurable taxonomies (categories, tags, etc.).</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>