<div class="sidebar">
    <div class="container sidebar-sticky">
        <div class="sidebar-about">
            <h1>
                <a href="{{ site.baseurl }}">
                    {{ site.title }}
                </a>
            </h1>
            <p class="lead">{{ site.description }}</p>
        </div>

        <nav class="sidebar-nav">

            {% for menu in site.menus.main|sortmenubyweight %}
            <a class="sidebar-nav-item{% if page.url == menu.url %} active{% endif %}" href="{{ site.baseurl }}{{ menu.url }}">{{ menu.name }}</a>
            {% endfor %}

        </nav>

        <p>&copy; {{ site.time | date('Y') }}. All rights reserved.</p>
    </div>
</div>